body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;

}
.sub-title{
  font-size: 2.5rem;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
    line-height: 1;
    padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  text-decoration: none;
}



p{
  line-height: 2;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 2%;
  margin:100px auto;
}
/**********TOP CONTENT *********/

.top-container {
  background-color: #DFF6FF;
  position: relative;
  padding-top: 150px;
}

.mountain{
  width: 40%;
}

.cloud-1 {
  position: absolute;
  right: 400px;
  top: 100px;
}

.cloud-2 {
  position: absolute;
  bottom: 400px;
}

/**********MIDDLE CONTENT *********/
.middle-container{
margin:100px 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.img-1{
  width: 25%;
  float: left;
  margin-right: 30px;

}

.img-2{
  width: 25%;
  height: 200px;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
}

.skill-row a:hover{
  text-decoration: underline;
  text-decoration-color: hotpink;
  transition: .6s;
}

/**********BOTTOM CONTENT *********/



.contact-me{
  line-height: 1.5;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}
.bottom-container a{
  color: white;
  margin: 0 30px

}

.bottom-container a:hover{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  transition: .8s;
}

.copyright{
  font-size: 0.75rem;
  padding:20px 0 5px;
  color: white;
}
